

<section>
    <form>
        <mat-form-field>
            <mat-label>Select State</mat-label>
           <mat-select >
               
              <mat-option *ngFor="let state of states" [value]="state.stateName">
                {{ state.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <button mat-fab extended color="primary">
            <mat-icon>favorite</mat-icon>
           Search
          </button>

          
          <button mat-fab extended color="accent" routerLink="add-new-grocery">
            <mat-icon>add</mat-icon>
            add New Grocery
          </button>
         
       
    </form>
</section>
<section class="results">
    <app-grocery *ngFor="let groceryDetail of groceryDetailsList" [grocerydetail]="groceryDetail"></app-grocery>
<!-- <app-grocery *ngFor="let housingLocaton of housingLocationList" [housingLocation]="housingLocaton"></app-grocery> -->
</section>
