.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    
    justify-content: space-around;
  }

  section {
    display: flex; /* Arrange elements horizontally */
    flex-direction: row; /* Align elements vertically */
    align-items: center; /* Center elements horizontally */
    padding: 20px; /* Add spacing for visual appeal */
  }

  button {
    margin-right: 10px; /* Add spacing between buttons */
  }
  mat-select{
    margin-right: 10px; /* Add spacing between buttons */
  }